<div class="login-page" ng-controller="LoginPageController">
  <md-whiteframe class="md-whiteframe-z4" layout="column" layout-fill layout-align="center center">
    <md-toolbar>
      <span flex></span>
      <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
        <span class="md-flex">Sign in to GreenITGlobe</span>
      </h2>
    </md-toolbar>
    <md-content class="login-form">
      <form>
        <md-input-container>
          <label>Login</label>
          <input ng-model="login" ng-change="loginChanged()" name="login" type="text">
        </md-input-container>
        <div class="form-error" ng-switch="formErrors.login" ng-show="formErrors.login">
          <div ng-switch-when="required">You must enter a login.</div>
        </div>

        <md-input-container>
          <label>Password</label>
          <input ng-model="password" ng-change="passwordChanged()" name="password" type="password">
        </md-input-container>
        <div class="form-error" ng-switch="formErrors.password" ng-show="formErrors.password">
          <div ng-switch-when="invalid">The login or password you entered is incorrect.</div>
          <div ng-switch-when="required">You must enter a password.</div>
        </div>

        <div ng-show="needsTwoFactorAuthentication">
          <md-input-container>
            <label>Authentication Code</label>
            <input ng-model="securityCode" ng-change="securityCodeChanged()" name="securityCode" type="text">
          </md-input-container>
          <div class="form-error security-code-error" ng-switch="formErrors.securityCode">
            <div ng-switch-when="invalid">The code you entered was invalid.</div>
            <div ng-switch-when="required">You must enter a 6-digit security code.</div>
          </div>
        </div>

        <div layout="row">
          <span flex></span>
          <md-button type="submit" class="md-primary" ng-click="next()">Next</md-button>
        </div>
      </form>
    </md-content>
  </md-whiteframe>
</div>
