def main(j,jp):
    from CloudscalerLibcloud.imageutil import registerImage
    name = '{{description}}'
    imagepath = '{{imagepath}}'
    type = '{{type}}'
    size = '{{size}}'
    registerImage(jp, name, imagepath, type, size)
