// main colors
@dark-blue: #345E79;
@dark-blue-hover: #3F7090;

@light-grey: #f2f2f2;
@white: #FFF;
@off-white: #ECF0F1;

@orange: #f6b332;
@off-orange: #FFC75C;
@off-orange2: #ffefd0;

@red: #C0392B;
@off-red: #E74C3C;
@off-red2: #F6DFDD;

@blue: #34495e;
@light-blue: #5D88B3;

// custom for test
@lighter-blue: #ABDEFF;
@lighter-blue-hover: #E1EBF1;
@black: #000;

// Variables
@main-color: @dark-blue;
@main-color-hover: @dark-blue-hover;

@header-background: @light-grey;
@menu-text-color: @off-white;
@menu-text-color-hover: @white;

// Right menu variables
@machines-tab-background: @orange;
@machines-tab-background-hover: @off-orange;
@machine-tab-list-background: @off-orange2;

@defence-tab-background: @red;
@defence-tab-background-hover: @off-red;
@defence-tab-list-background: @off-red2;

@adminPortal-main-color: @blue;
@adminPortal-link-color: @light-blue;
