// main colors
@dark-blue: #345E79;
@dark-blue-hover: #3F7090;

@light-grey: #f2f2f2;
@white: #FFF;
@off-white: #ECF0F1;

@orange: #f6b332;
@off-orange: #FFC75C;
@off-orange2: #ffefd0;

@red: red;
@off-red: #E74C3C;
@off-red2: #F6DFDD;

@blue: #34495e;
@light-blue: #5D88B3;
@dark-grey: #404040;
@darker-grey: #5F5F5F;
@lighter-grey: #F3F3F3;
@grey3: #bdc3c7;


// custom for test
@lighter-blue: #ABDEFF;
@lighter-blue-hover: #E1EBF1;
@black: #000;

// Variables
@main-color: @lighter-blue;
@main-color-hover: @dark-blue-hover;

@header-background: @light-grey;
@menu-text-color: @off-white;
@menu-text-color-hover: @white;
@link-color: @light-blue;
@link-color-hover: @light-blue;

// Right menu variables
@tab-background: @dark-grey;
@tab-background-hover: @main-color;
@tab-list-background: @lighter-grey;


@admin-portal-text: @darker-grey;
