#!/bin/bash -x

sleep 30
function ipnse(){ ns=$1 ; shift ; ip netns exec ns-${ns} $@ ;}
function ipla(){ ip link add $@ ;}
function no6(){ sysctl -w net.ipv6.conf.${1}.disable_ipv6=1 ;}


ovs-vsctl --if-exists del-port PublicVXLAN vx-{{envid}}
ovs-vsctl --if-exists del-port PublicVXLAN pubtons-{{envid}}
ovs-vsctl --if-exists del-br vxbackend
ovs-vsctl --if-exists del-br PublicVXLAN

ovs-vsctl --may-exist add-br vxbackend 
ovs-vsctl --may-exist add-port vxbackend {{pub_interface}}

ip l set {{pub_interface}} up

ip addr add {{pub_ip}}/24 dev vxbackend
ip link set vxbackend multicast on mtu 1550

ip l set {{pub_interface}} mtu 1550
no6 {{pub_interface}}

ipla vx-{{envid}} type vxlan id {{vxlanid}} group {{multicastaddress}} ttl 10 dev vxbackend
ovs-vsctl --may-exist add-br PublicVXLAN
ovs-vsctl --may-exist add-port PublicVXLAN vx-{{envid}}

no6 PublicVXLAN
no6 vx-{{envid}}
ip l set vx-{{envid}} up

ipla pubtons-{{envid}} type veth peer name pubinns-{{envid}}
no6 pubtons-{{envid}}
ovs-vsctl add-port PublicVXLAN pubtons-{{envid}}

ip l set pubtons-{{envid}} up
ip netns add ns-{{envid}}
ip link set pubinns-{{envid}} netns ns-{{envid}}

ipnse {{envid}} ip link set lo up
ipnse {{envid}} ip link set pubinns-{{envid}} mtu 1450 multicast on
ipnse {{envid}} ip link set pubinns-{{envid}} up

ipnse {{envid}} ip -6 addr add {{ipv6prefix}}::1/64 dev pubinns-{{envid}}
ipnse {{envid}} ip addr add {{dnsmasqipaddress}} dev pubinns-{{envid}}