<html>
<head></head>
<body>
    Dear,<br>
    <br>
    We would like to inform you that a template from machine: {{name}} was {{success}} created.
    {% if not error %}
    Thank you for your patience.
    <br>
    <br>
    In case you experience any issue while registering or using the OpenvCloud service,
    {% endif %}
    please contact us at <a href="mailto:support@greenitglobe.com">support@greenitglobe.com</a>
    {% if eco %}
    using this  eco id: {{eco}} 
    {% endif %}
    <br>
    <br>
    <div>
        Best Regards,<br>
        <br>
        Your OpenvCloud Team<br>
    </div>
</body>
</html>
