body{
    color:#666;
    background:#fff;
}
hr {
 border-bottom: 3px dotted #CCCCCC;
    border-top: medium none;
}

h2 { color:#00baff; }


#gallery a  {
  border: 3px solid #EEEEEE;
    display: block;
    margin-right: 20px;
    width: 205px; float:left; overflow: hidden; height:125px;
}

    #gallery a:hover {
       border-color:#ccc; cursor:pointer;
    }
.price {
display: inline-block; margin-bottom: 5px; width:100%;
}

.price  h3{
  line-height: 24px;
    margin: 0 0 20px;
}
.price  div{
  float: left;
    margin-left: 2%;
    width: 39%;
}

.price img {
 float:left; width:50%;  clear:none !important;

    width: 150px;

    -moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; 
}

.btns a {
  float: right;
    margin-bottom: 5px;
    padding: 5px 20px;
    width: 227px;
    
}

.modal-footer, .modal-header { display:none;}
.modal-body {
 border:5px solid #000;}

.subnavbar .container > ul > li > a {

	color: #fff;

}

    .subnavbar .container > ul > li > a:hover {
        color: #00baff;

    }

.apps .price { background: none repeat scroll 0 0 #EEEEEE;
    float: left;
    margin-right: 10px;
    padding: 5px;
    width: 47%; margin-bottom:10px; height:101px;}
.apps .price img { width: 100px;}
.apps .price div { width: 72%;}
.apps .price div h3 { font-size:12px; margin-bottom:5px;} 
.apps .price div ul {  padding:0px; margin:0px; padding-left:15px;}  
.apps .price div li { font-size:12px;}

    .apps .price:hover { background:#aaa;  color:#fff !important;
    }
    .apps .price:hover div { color:#fff !important;
    }





 

.btns .btn-warning {background-color:#0074cc;background-image:-moz-linear-gradient(top, #0088cc, #0055cc);background-image:-ms-linear-gradient(top, #0088cc, #0055cc);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));background-image:-webkit-linear-gradient(top, #0088cc, #0055cc);background-image:-o-linear-gradient(top, #0088cc, #0055cc);background-image:linear-gradient(top, #0088cc, #0055cc);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);border-color:#0055cc #0055cc #003580;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:dximagetransform.microsoft.gradient(enabled=false);}
.btns .btn-warning:hover,.btns .btn-warning:active,.btns .btn-warning.active,.btns .btn-warning.disabled,.btns .btn-warning {background-color:#0055cc;}


.carousel-caption {
  top: 45px;
  background:none;
  opacity:0.7;
}

    .carousel-caption p {
        color: #000000;
    }

    .carousel-caption h1 {
    
     font-size:30px;  margin:0px;
    }

.carousel-caption {
 padding:5px 10px; padding-bottom:10px;
}
.fix-h {
    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 3px dotted #CCCCCC;
    height: 245px;
    margin-top: 20px;
    padding:20px !important;
}
    .fix-h h3 {
    margin-top:0px;
    }
    .fix-h p {
    padding-left:35px;
    }

.price p {
 margin:0px;
}


.main {
 border:none;
 padding-bottom:0px;
}

/*Footer*/
.footer {
	margin-top:40px;
	padding:20px 10px;
	background:#585f69;
	color:#dadada;
} 
.footer h1, 
.footer h2, 
.footer h3, 
.footer h4, 
.footer h5 {
	text-shadow:none;
	font-weight:normal !important; 
} 
.footer p,
.footer a {
	font-size:14px;
} 
.footer p {
	color:#dadada;
} 
.footer a {
	color:#308CCF;
}
.footer a:hover {
	color:#1c5178;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
.footer h4, 
.footer h3 {
	color:#e4e4e4;
	background:none;
	text-shadow:none;
}

/*Blog Posts*/
.footer .posts {
	padding:0 15px;
}
.footer .blog-list {
	margin:0;
	padding:0;
	color:#dadada;
	list-style:none;
}
.footer .blog-list li {
	padding:0 0;
	margin-bottom:7px; 
}
.footer .blog-list li span {
	color:#818488;
}
.footer .dl-horizontal,
.footer .dl-horizontal:hover {
	border:none !important;
	background:none !important;
}
.footer .dl-horizontal a {
	color:#dadada;
}
.footer .dl-horizontal a:hover {
	color:#a8f85f !important;
}
.footer .dl-horizontal img {
	border-color:#888 !important;
}

/*Copyright*/
.copyright {
	font-size:12px;
	padding:5px 10px;
	background:#3e4753;
	border-top:solid 1px #777;	
}
.copyright p {
	color:#dadada;
}
.copyright a {
	margin:0 5px;
	color:#308CCF;
}
.copyright a:hover {
	color:#a8f85f;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
.copyright .span8 {
	padding-top:15px;
}
.copyright .span4 {
	padding-top:10px;
}


#add_domain input[type="text"],  #add_domain select {
    width: 186px;
}

#add_domain .control-group {
    display: inline-block;
    margin: 0 5px 0 6px;
    vertical-align: middle;
}


 #add_domain .styled-select select {
    width: 220px;
}

.styled-select select {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #666666;
    display: inline;
    float: left;
    height: 60px;
    padding: 21px;
    width: 95%;
}

 #add_domain p {
    clear: both;
    color: #999999;
    font-size: 14px;
    margin: 0;
    padding: 1em 0;
    text-align: center;
    width: 700px;
}




#main select, #main input[type="text"], #main textarea  {
color:#fff !important;
}
tr:hover td {
background:#eee  !important;
}
.btnfull {
display:block !important;
margin:20px 0px;
}
.btnright {
float:right;
}

.shortcuts .shortcut {
    background: linear-gradient(to bottom, #FFFFFF, #EEEEEE) repeat-x scroll 0 0 #F8F8F8;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    float: left;
    margin-bottom: 1em;
    margin-left: 0 !important;
    margin-right: 10px !important;
    margin-top: 0;
    /*padding: 12px 0;*/
    padding: 0;
    text-decoration: none;
    vertical-align: top;
    width: 110px;
}
.shortcuts ul {
    margin:0px;
}

.shortcuts label {
    padding: 12px 0px;
    height: 100%;
    margin: 0px;
}

 
.big-stats-container .widget-content {
    background: -moz-linear-gradient(center top , #FAFAFA 0%, #E9E9E9 100%) repeat scroll 0 0 transparent;
}
.widget-content {
padding:5px;  /*background: none repeat scroll 0 0 #EEEEEE !important;*/
}
#big_stats .stat {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #CCCCCC;
    display: table-cell;
     color: #888888;
    padding: 0;
    position: relative;
    text-align: center;
    width: 25%;
}

#big_stats .stat:first-child {
    border-left: medium none;
}

#big_stats .stat:last-child {
    border-right: medium none;
}

.stat {
 color: #333333;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5em;
    padding: 10px !important;
    vertical-align: middle;
}

.input-large {
    margin-bottom: 0px !important;
    padding: 10px 6px !important; 

}

#domains-list .right {
float:right; margin-left:10px;margin-top: 5px;
}
#domains-list h3 {
 display: inline-block;
 margin:0px;
}
.select-large {
height:42px;

}
.radio {
display:inline-block; margin-right:20px;
}

td.mark {
    background: none repeat scroll 0 0 #FFFFFF !important;
    color: #00BAFF;
    font-weight: bold;
    text-align: center;
}
.shortcuts {
    display: inline-block;
}
.shortcuts li input[type="radio"] {
display:none;
}

.shortcuts li.selected  {
    background:#00BAFF;
}

.popup-background {
    background: url("img/tbg.png") ;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.popup-content {
background:#fff;
}

.popup-content {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 150px auto;
    padding: 30px;
    width: 36%;
    -moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; /* future proofing */

}
#back-to-top {

    display: inline;
    float: right;
    margin-right: 20px;
    margin-top: -30px;
    right: 0;
}
.account-container {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #D5D5D5;
    border-radius: 5px 5px 5px 5px;
    display: block;
    margin: 60px auto 0;
    width: 380px;
}
.padding {
    padding: 16px 28px 23px;
}


.login-fields input {
    background-color: #FDFDFD;
    box-shadow: 2px 2px 4px #F1F1F1 inset;
    color: #8E8D8D;
    display: block;
    font-family: 'Open Sans';
    font-size: 13px;
    margin: 0;
    padding: 8px 15px 10px 50px;
    width: 255px;
}

.login-fields input.username-field {
    background: url("img/signin/user.png") no-repeat scroll 0 0 #fff;
}

.login-fields input.password-field {
    background: url("img/signin/password.png") no-repeat scroll 0 0 #fff;
}

span.login-checkbox {
    float: left;
    margin-top: 31px;
}
span.login-checkbox > input[type="checkbox"] {
    float: left;
    opacity: 0;
    width: 15px;
}

span.login-checkbox > input[type="checkbox"] + label {
    background: url("img/signin/check.png") no-repeat scroll 0 0 transparent;
    clear: none;
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: 15px;
    line-height: 1.2em;
    margin: 0;
    padding: 0 0 0 22px;
}

.button {
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    float: right;
    margin-top: 18px;
}

.login-fields label {
    display: none;
}
.login-fields .field {
    margin-bottom: 1.25em;
}


 .btn-selector {
    float: left;
    margin: 0px 20px 20px 0px;
    font-size: 12px !important;
    width: 25%;
    /*background: #CCCCCC !important;*/
    min-height:49px;
}
    .btn-selector.active {
    
      background: #ccc !important;
    } 
.form-horizontal .form-actions {
    padding-left: 180px;
    background:#eee;
}

input[type="file"] {
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 9px;
    padding: 4px 6px;

     background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.x-btn {
    margin-left: 10px;
    margin-top: -6px;
    padding: 7px 20px;
}

ul.list li {
     list-style:none;
     border-bottom:1px solid #ddd;
}
ul.list li  h5 {
    width: 40%;display: inline-block; 
}

ul.actions {
margin:0px;
}
ul.actions li {
list-style:none;
padding:5px ;
border-bottom:1px solid #ddd;  color:#0088CC;
}
    ul.actions li:last-child, ul.list li:last-child {
    border:none;
    }
    ul.actions li:hover {
    color:#1A668A;     background :#EEEEEE;

    }
        ul.actions li:hover a {
        cursor:pointer; 
        text-decoration:none;
        }
ul.actions i {
font-size:17px; margin-right:10px;
}

    ul.actions li:hover i {

    }
div.actions {
border-left :1px solid #ddd; width: 249px; padding-left:20px;
}
.note {
background:#eee; padding:5px; font-style:italic;
}

.btn-large {
min-width:90px;
}
#monitoring .span3 {
    background:#fff;
     border-radius: 4px;
}
    #monitoring .span3:hover {
 box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    }

#monitoring .span3 h4 {
padding: 10px;
    text-align: center;
}

.support  textarea  { 
    height: 150px;
    width: 50%;

}
.support  input[type="text"]  { 
 width: 50%;


}


/*---leftnav---*/

.sidebar-nav {
    border:none; 
border-right: 3px dotted #CCCCCC;
box-shadow:none;
border-radius:0px;
background:none;
padding-top: 12px;

}
.sidebar-nav li {
  text-align:right; list-style:none;
  padding:5px ; 
  border-bottom: 1px dotted #ddd;   

    }
.sidebar-nav li a {
     color: #00B0F0;
    }
    .sidebar-nav li:hover a {
    text-decoration:none;

    }
       .sidebar-nav li:hover  {

    background:#eee;
    }


/*-----------------new theme---------*/
.subnavbar-inner {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
    box-shadow: 10px -7px 10px black;
    height: 45px;
}

.subnavbar .container > ul {
    border-left: none;
    border-right: none;
    display: inline-block;
    height: 45px;
    margin: 0;
    padding: 0;
}

.subnavbar .container > ul > li {
    border-left: none;
    border-right: none;
    float: left;
    height: 46px;
    list-style: none outside none;
    margin: 0;
    min-width: 90px;
    padding: 0;
    text-align: center;
}


.subnavbar .container > ul > li > a {
 color: #3E4753 !important;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 57%;
    padding: 12px 15px 7px;
    text-shadow: none;
}
    .subnavbar .container > ul > li > a:hover {

    padding: 12px 15px 6px;
    border-bottom: 2px solid #00BAFF;
    }
.subnavbar .container > ul > li > a > i {
    display: inline;
    font-size: 19px;
    height: 24px;
    margin-bottom: 0;
    margin-top: 0;
    width: 24px;
}

.subnavbar .container > ul > li > a > span {
    display: inline;
}

.subnavbar .container > ul > li > a {
    color: #636363;
    font-size: 12px;
    font-weight: bold;
    text-shadow: none;
}

.subnavbar .container > ul > li.active > a {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #00BAFF !important;
}
    .subnavbar .container > ul > li.active > a {
    border:none !important;
    }


.brand {
    color: #777777;
    display: block;
    float: left;
    font-size: 24px;
    font-weight: 500;
    margin-left: -20px;
    padding: 10px 20px;
    position: relative;
    text-shadow: 0 1px 0 #FFFFFF;
    top: 2px;
}
    .brand:hover {
    text-decoration:none;
    color:#3E4753;
    }

.navbar-fixed-top {
opacity: 0.3;
    position: fixed;
    right: 0;
    top: 45px;
    width: 85px;
}
.navbar-fixed-top .brand {
display:none;
}
.navbar-fixed-top  .navbar-inner {
    background:#fff !important;
    border:none !important;
}
.navbar-fixed-top .container {
    width:100% !important;
}


.copyright {
    background: none repeat scroll 0 0 transparent;
    border-top: 1px solid #DDDDDD;
    font-size: 12px;
    padding: 5px 10px;
    margin-top: 40px;
}

.copyright p {
    color:#666666;
}
.copyright .span8 {
    padding-top: 0px;
}


.msg {
   background: none repeat scroll 0 0 #FFFAD2;
    border: 2px solid #FDD78F;
    font-size: 11px !important;
    line-height: 10px !important;
    padding: 20px;
}

.msg * {
    color: #333333;
    font-size: 11px;
    line-height: 16px;
    margin: 0;
    list-style:inside;
}
.loader   {

 background: none repeat scroll 0 0 #EFEFEF;
    border-radius: 10px 10px 10px 10px;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    padding: 10px 40px;
    position: fixed;
    top: 50%;
    width: 200px;
    z-index: 10;
    border: 3px solid #CCCCCC;
}
.loader img  {
   border-radius: 10px 10px 10px 10px;
    width: 200px;
    z-index: 10;
}
.loader h2 {
    font-size: 15px;
    text-align: center;
    margin-bottom: -60px;
    z-index: 20000000000;
    position: relative;

}


.loading {
    display: inline-block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background:#fff;
    opacity:0.7;

}


.carousel .item > img {
    border-radius:5px;
}

.dropdown-submenu > .dropdown-menu {
    left: 0;
    top: 50px;
}
.dropdown-submenu > a:after {
content: none;
}

.dropdown-menu a {
text-align: left;
}


.subnavbar .dropdown-menu:before {
    border-bottom: none;
    border-left: none;
    border-right: none;
    content:none;

}


.subnavbar .dropdown-menu:after {
    border-bottom: none;
    border-left: none;
    border-right: none;
    content:none;

}

.dropdown-submenu > .dropdown-menu {
    border-radius: 0 0 6px 6px;
    border:none;
    border-top:2px solid #04BBFF;
   transition:  opacity 1s ease-out;
}
.subnavbar .container > ul > li > a {
background:#fff !important;
}

.marker {
background:#e7f5f8;
padding:15px;
}
.marker .span6 {
    width: 555px;
}
    .marker h3, .marker p, .marker a {
    margin-left:-20px;
    }
    .marker a {
    font-size:14px;

    }
        .marker a:hover {
        text-decoration:none;
        color:#00BAFF;
        cursor:pointer;
        }
.carousel-inner {
background: url(img/carouselbg.jpg) bottom center no-repeat ;
border-bottom: 1px solid #EEEEEE;
}
.carousel-caption h1 {
display:none;
}
.carousel-caption p {

  font-size: 25px;
    line-height: 30px;
    text-align: center;
}